<div class="main-content">
  <div *ngIf="isLoading" class="mt-5 text-center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="container-fluid">
    <div class="row  d-flex justify-content-center" *ngIf="!isLoading">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Governate</h4>
            <p class="card-category">You can Add or Edit here</p>
          </div>
          <div class="card-body">
            <div class="col-md-10">
              <form #governateForm="ngForm" (ngSubmit)="onCreatGovernate(governateForm)">
                <div class="form-group" [hidden]="!editMode">
                  <label for="Id">Governate Code</label>
                  <input type="number" name="GovernorateID" class="form-control" ngModel [disabled]="editMode" />
                </div>
                <div class="form-group">
                  <label for="name">Governate Name</label>
                  <input type="text" name="GovernorateName" class="form-control" ngModel required #name="ngModel" />
                  <small *ngIf="!name.valid && name.touched" class="form-text text-muted text-danger">please enter valid
                    name</small>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn  mr-3 {{
                    editMode == true ? 'btn-warning' : 'btn-success'
                  }}" [disabled]="!governateForm.valid">
                    {{ editMode ? "Update" : "Add" }}
                  </button>
                  <button type="button" class="btn btn-primary" (click)="onResetGovernateFrom()">
                    clear
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0 text-center"> Governate DataTable</h4>
            <p class="card-category"> </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <ngx-datatable class="material" [rows]=" governateData" [columnMode]="'force'" [limit]="5"
                [rowHeight]="50" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50">
                <ngx-datatable-column prop="CategoryCode" [sortable]="true" name="Governate Code">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.GovernorateID }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="CategoryName" [sortable]="true" name="Governate Name">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.GovernorateName  }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name="Edit">
                  <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <button type="button" class="btn btn-sm btn-warning" (click)="onUpdateGovernate(row,rowIndex)">
                      <i class="fas fa-edit fa-lg text-white"></i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name="Delete">
                  <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <button mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
                      placement="left" (confirm)="onDeletGovernate(row, rowIndex)" (cancel)="cancelClicked = true"
                      class="btn btn-sm btn-danger">
                      <i class="fas fa-trash-alt fa-lg"></i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>